node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json


# Editor settings
.vscode/

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes


